html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
  }
  .start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
  }
  .start-screen button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    background: #ffffff22;
    color: white;
    cursor: pointer;
  }

  #giftContent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    padding: 1rem;
  }
  
  .card {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
    border-radius: 1rem;
    max-width: 90%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  }
  
  .card h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .card p {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  